{% load widget_tweaks %}
{% load tagger%}
{% define True as continue %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

{% comment %} <div class="modal-dialog modal-dialog-edit" style="min-width: 800px !important;" > {% endcomment %}
  <!--model Button booking_list.html(line No 19)-->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
   <div class="modal-dialog modal-dialog-edit">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal">
          Employees Information
        </h5>
      </div>
      <div class="modal-body">
        <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
         {% if booking.paid == True or emp_gov.section == 'Government' %} 
        <table class="table table-striped table-responsive">
          <thead>
            <tr class="bg-primary">
              <th scope="col" class="text-white">#</th>
              <th scope="col" class="text-white">Name</th>
              <th scope="col" class="text-white">Phone No
              </th>
              <th scope="col" class="text-white">
                Registration<br>date</th>
              <th scope="col" class="text-white">Address
              </th>
              <th scope="col" class="text-white">Work Location
              </th>
              <th scope="col" class="text-white">Pin</th>
              <th scope="col" class="text-white">Assign
              </th>
              <th scope="col" class="text-center text-white">Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% endif %}
           {% comment %} <h1>{% if {{boo.goverment == "Goverment"}} %}helloo{% endif %}</h1> {% endcomment %}
           {% comment %} {{g}}
          {% for i in g %}
          
          {{i}}
          
          {% endfor %} {% endcomment %}
            {% comment %} {% if boo. %}{% endif %} {% endcomment %}
            
            {% for i in mem %}
            
            {% comment %} {% if d == "Goverment" %} {% endcomment %}
            
            {% if emp_gov.section == 'Government' %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.admin.username}}</td>
              <td>{{i.mobile_no}}</td>
              <td>{{i.created_at}}</td>
              <td>{{i.address}}</td>
              <td>{{i.city}}</td>
              <td>{{i.pin}}</td>
              <td><button type="button" class="btn btn-warning bg-opacity-50" href="#">Request</button></td>
              <td class="text-center">
                <button type="button" class="btn btn-success bg-opacity-50" hidden>Accepted</button>
              </td>
            </tr>
            {% elif monthly.paid == True %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.admin.username}}</td>
              <td>{{i.mobile_no}}</td>
              <td>{{i.created_at}}</td>
              <td>{{i.address}}</td>
              <td>{{i.city}}</td>
              <td>{{i.pin}}</td>
              <td><button type="button" class="btn btn-warning bg-opacity-50" href="#">Request</button></td>
              <td class="text-center">
                <button type="button" class="btn btn-success bg-opacity-50" hidden>Accepted</button>
  
              </td>
            </tr>
            {% elif continue %}

            {% comment %} payemt editing start  {% endcomment %}
            <div class="card" style="width: 21rem; margin: 15px auto;">
              <div class="card-header text-center">
                <h5 class="card-title">UPCLC </h5>
                <h6 class="card-subtitle mb-2 text-muted">Employee Details</h6>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-between">
                  <p class="text-muted">No of Employees Required</p>
                  <p class="text-dark">{{count}}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-muted">No of Employees Available</p>
                  <p class="text-dark">{{membercount}}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-muted">Salary per Employee</p>
                  <p class="text-dark">{{monthly_offered}}</p>
                </div>
                  <a href="{% url 'employer_dobooking' id bookingid %}"><button type="button" class="btn btn-warning">Go to the payment Page</button></a>
              </div>
            </div>
            {% define False as continue %}
          
            {% endif %}
            
            {% endfor %}

          </tbody>
        </table>
        </form>
      </div>
      <div class="modal-footer">
        <a href="{% url 'employer_managebooking' %}"><button type="button" class="btn btn-primary"  data-bs-dismiss="modal" style="width: 7rem">Close</button></a>
      </div>
    </div>
   </div>
  </div>

   {% comment %} <form action='{% url 'bookingSuccess' %}' method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
          var options = {
            key: "rzp_test_czVP739sBN5blU", // Enter the Key ID generated from the Dashboard
            amount: "70000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "UPCLC",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            callback_url: "https://eneqd3r9zrjok.x.pipedream.net/",
            prefill: {
              name: "Karan Ghai",
              email: "karanghai@gmail.com",
              contact: "9000090000",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };
          var rzp1 = new Razorpay(options);
          document.getElementById("rzp-button1").onclick = function (e) {
            rzp1.open();
            e.preventDefault();
          };
        </script>
   </form> {% endcomment %}
{% endwith %}