{% load widget_tweaks %}
{% load tagger%}
{% define True as continue %}
{% load widget_tweaks %} 
{% with WIDGET_ERROR_CLASS='is-invalid' %}

{% comment %} <div class="modal-dialog modal-dialog-edit" style="min-width: 800px !important;" > {% endcomment %}
  <!--model Button booking_list.html(line No 19)-->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
   <div class="modal-dialog modal-dialog-edit">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal">
          Employees Information
        </h5>
      </div>
      <div class="modal-body">
        <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
         {% comment %} {% if booking.paid == True or emp_gov.section == 'Government' %}  {% endcomment %}
        <table class="table table-striped table-responsive">
          <thead>
            <tr class="bg-primary">
              <th scope="col" class="text-white">#</th>
              <th scope="col" class="text-white">Name</th>
              <th scope="col" class="text-white">Phone No
              </th>
              <th scope="col" class="text-white">
                Registration<br>date</th>
              <th scope="col" class="text-white">Address
              </th>
              <th scope="col" class="text-white">Work Location
              </th>
              <th scope="col" class="text-white">Pin</th>
              <th scope="col" class="text-white">Assign
              </th>
              <th scope="col" class="text-center text-white">Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% comment %} {% endif %} {% endcomment %}
           {% comment %} <h1>{% if {{boo.goverment == "Goverment"}} %}helloo{% endif %}</h1> {% endcomment %}
           {% comment %} {{g}}
          {% for i in g %}
          
          {{i}}
          
          {% endfor %} {% endcomment %}
            {% comment %} {% if boo. %}{% endif %} {% endcomment %}
            
            {% comment %} {% for i in mem %} {% endcomment %}
            
            {% comment %} {% if d == "Goverment" %} {% endcomment %}
            
            {% comment %} {% if emp_gov.section == 'Government' %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.admin.username}}</td>
              <td>{{i.mobile_no}}</td>
              <td>{{i.created_at}}</td>
              <td>{{i.address}}</td>
              <td>{{i.city}}</td>
              <td>{{i.pin}}</td>
              <td><button type="button" class="btn btn-warning bg-opacity-50" href="#">Request</button></td>
              <td class="text-center">
                <button type="button" class="btn btn-success bg-opacity-50" hidden>Accepted</button>
              </td>
            </tr>
            {% elif monthly.paid == True %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.admin.username}}</td>
              <td>{{i.mobile_no}}</td>
              <td>{{i.created_at}}</td>
              <td>{{i.address}}</td>
              <td>{{i.city}}</td>
              <td>{{i.pin}}</td>
              <td><button type="button" class="btn btn-warning bg-opacity-50" href="#">Request</button></td>
              <td class="text-center">
                <button type="button" class="btn btn-success bg-opacity-50" hidden>Accepted</button>
  
              </td>
            </tr>
            {% elif continue %} {% endcomment %}

            {% comment %} payemt editing start  {% endcomment %}
            <div class="card" style="width: 21rem; margin: 15px auto;">
              <div class="card-header text-center">
                <h5 class="card-title">UPCLC </h5>
                <h6 class="card-subtitle mb-2 text-muted">Employee Details</h6>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-between">
                  <p class="text-muted">No of Employees Required</p>
                  {% comment %} <p class="text-dark">{{count}}</p> {% endcomment %}
                  <p class="text-dark">2</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-muted">No of Employees Available</p>
                  {% comment %} <p class="text-dark">{{membercount}}</p> {% endcomment %}
                  <p class="text-dark">3</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-muted">Salary per Employee</p>
                  {% comment %} <p class="text-dark">{{monthly_offered}}</p> {% endcomment %}
                  <p class="text-dark">3000</p>
                {% comment %} </div>
                  <a href="{% url 'employer_dobooking' id bookingid %}"><button type="button" class="btn btn-warning">Go to the payment Page</button></a>
              </div> {% endcomment %}
            </div>
            {% comment %} {% define False as continue %}
          
            {% endif %}
            
            {% endfor %} {% endcomment %}

          </tbody>
        </table>
        </form>
      </div>
      <div class="modal-footer">
        <a href="{% url 'employer_managebooking' %}"><button type="button" class="btn btn-primary"  data-bs-dismiss="modal" style="width: 7rem">Close</button></a>
      </div>
    </div>
   </div>
  </div>
{% endwith %}